<%- include("partials/header") -%>

  <!-- SHORTENING: includes input bar and output -->
  <section id="urlshrt">
    <div class="container-fluid">
      <form class="urlcompress" action="/" method="post">
        <!-- <h1>Reduce Link Length!</h1> -->

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Input URL" aria-label="input-url" aria-describedby="button-addon2" name="inputurl">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name="button">Compress!</button>
          </div>
        </div>

      </form>

      <% if (shorturl) { %>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= longurl %></li>
          <li id="shortened" class="list-group-item">

              <table class="short-table">
                <tr>
                  <td>
                    <p id="short"><%= shorturl %></p>
                  </td>
                  <td>
                    <button id="copy" class="btn btn-outline-primary btn-sm">Copy</button>
                  </td>
                </tr>
              </table>

          </li>
        </ul>
      </div>

      <!-- local js for clipboard access -->
      <script src="/js/copy.js" charset="utf-8"></script>
      <% } %>

      <% if (badurl) { %>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= longurl %></li>
          <li class="list-group-item">Invalid URL!</li>
        </ul>
      </div>
      <% } %>

    </div>
  </section>

<%- include("partials/footer") -%>
